// Navigation Styles here


nav{
    .flexbox();
    .border1(); 
    align-content: space-around;
    padding: 15px; 
    width: auto; 
}

h1 {
    padding: 20px; 
}
.menu {
    padding: 20px 10px 10px 780px; 
    font-size: 2.2rem; 
    font-family: 'Indie flower', cursive;
    
}


